{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="section-title">{{ .Title }}</h1>
        <div class="d-flex flex-wrap gap-2 mt-4">
          {{ range .Data.Terms.Alphabetical }}
          <a href="{{ .Page.RelPermalink }}" class="btn btn-outline-primary m-1" style="border-radius:20px;">
            {{ .Page.Title }} <span class="badge badge-light ml-1">{{ .Count }}</span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
