{% extends "layout.j2" %}
{% block main_content %}
<section class="search-page">
  <h1>Search</h1>
  <form>
    <input type="text" placeholder="Search..." name="q">
    <button type="submit">Search</button>
  </form>
</section>
{% endblock %}
