{% extends "layout.j2" %}
{% block main_content %}
<section>
  <h1>{{ content.title }}</h1>
  <div class="tag-cloud">
    {% for tag in all_tags %}
    <a href="/tags/{{ tag | lower | replace(' ', '-') | replace('_', '-') }}/" class="tag-item">
      {{ tag }}
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
